---
import BaseLayout from "@layouts/BaseLayout.astro";
import Hero from "@components/hero/Hero";
import ProjectCard, {
  type Project,
} from "@components/project-card/ProjectCard";
import Skills from "@components/skills/Skills";
import "@styles/pages/home.scss";
import HomeIntranetImage from "@assets/images/home_intranet.png";
import HomeWereviewImage from "@assets/images/home_wereview.png";
import HomeCciImage from "@assets/images/home_cci.png";
import HomeAppAdvisorImage from "@assets/images/home_appadvisor.png";
import Button from "@/components/button/Button";
import { ArrowRightIcon } from "@radix-ui/react-icons";
import CVDownload from "@/components/cv-download/CVDownload";

const featuredProjects: Project[] = [
  {
    id: "1",
    title: "Intranet We Made Ya",
    description:
      "Plateforme interne pour la société We Made Ya, permettant la gestion des commandes de spot audio et vidéo.",
    tags: ["Next.js", "TypeScript", "GraphQL", "AWS S3"],
    featured: true,
    liveUrl: "https://intranet.wmy.fr",
    githubUrl: "https://github.com/wemadeya/intranet-frontend",
    isPrivate: true,
    image: HomeIntranetImage.src,
  },
  {
    id: "2",
    title: "We Review",
    description:
      "Plateforme de revue de vidéo et de textes pour les clients de We Made Ya, facilitant le processus de révision et de modification des spots.",
    tags: ["Next.js", "TypeScript", "Prisma", "PostgreSQL"],
    liveUrl: "https://wereview.wmy.fr",
    githubUrl: "https://github.com/wemadeya/machine-reviser",
    isPrivate: true,
    image: HomeWereviewImage.src,
  },
  {
    id: "3",
    title: "Calendrier CCI",
    description:
      "Application de gestion du calendrier du centre de conférences international d'Antananarivo.",
    tags: ["Next.js", "TypeScript", "Google API", "Node.js"],
    liveUrl: "https://calendrier.cci-api.com",
    githubUrl: "https://github.com/raparisonbryan/cci-frontend.git",
    isPrivate: false,
    image: HomeCciImage.src,
  },
  {
    id: "4",
    title: "AppAdvisor",
    description:
      "Site web de veille sur les outils informatiques, basé sur un système d'avis et de classement.",
    tags: ["Next.js", "TypeScript", "MongoDB", "Node.js"],
    githubUrl: "https://github.com/raparisonbryan/App-Advisor-frontend.git",
    isPrivate: false,
    image: HomeAppAdvisorImage.src,
  },
];
---

<BaseLayout title="Bryan | Développeur Full Stack">
  <Hero client:load />

  <section class="projects-section">
    <div class="container">
      <div class="section-header">
        <span class="section-label">Portfolio</span>
        <h2 class="section-title">Projets récents</h2>
        <p class="section-description">
          Voici une sélection de projets sur lesquels j’ai contribué récemment.
        </p>
      </div>

      <div class="projects-grid">
        {
          featuredProjects.map((project, index) => (
            <ProjectCard project={project} index={index} client:visible />
          ))
        }
      </div>
     
      <div class="projets-cta">
        <Button title="Voir tous les projets" onClick={() => window.location.href = '/projects'}>
          <ArrowRightIcon />
        </Button>
      </div>
    </div>
  </section>

  <Skills client:visible />

  <section class="cta-section">
    <div class="container">
      <div class="cta-content">
        <h2 class="cta-title">Et maintenant ?</h2>
        <p class="cta-description">
          Je souhaite rejoindre une équipe en tant que développeur web pour continuer 
          à progresser et participer au développement de produits web de qualité.
        </p>
        <div class="cta-buttons">
          <Button title="Discutons ensemble" onClick={() => window.location.href = '/contact'}>
            <ArrowRightIcon />
          </Button>
          <CVDownload client:load />
        </div>
      </div>
    </div>
  </section>
</BaseLayout>
